<head>
  <title>Principal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script
    type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!-- Custom Theme files -->
  <link href="./stylesheets/estilos.css" rel="stylesheet" type="text/css" media="all" />
  <!-- //Custom Theme files -->
  <!-- web font -->
  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  <!-- //web font -->
</head>

<body>


  <% include statics/menu_home %>
  <% if (locals.messages) { %>


  <div class="alert alert-success alert-dismissible fade show" role="alert" auto-close="3000">
    <strong>Aviso!</strong> <%= messages.msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>
  <%for (var i=0;i<dato.length; i++){%>
  ​ <img src="<%= dato[i].url %>" width="250" height="250" class="img-thumbnail" alt="...">

  <% if(dato[i].externa==true) {%>
  <button class="btn btn-primary" onClick="modificar_estado(<%= dato[i].id%>,0,<%= dato[i].fk_vehiculo%>)"
    role="button">volver Foto Interna</button>
  <% }else {%>
  <button class="btn btn-secondary" onClick="modificar_estado(<%= dato[i].id%>,1,<%= dato[i].fk_vehiculo%>)"
    role="button">volver Foto Externa</button>

  <% }%>

  <%}%>
    <a class="btn btn-success" href="/home" role="button">Terminar de Editar</a>
    <!-- //copyright -->
    <ul class="colorlib-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <!-- //main -->
  </body>
  <% include statics/script %>
  <script>
    function modificar_estado(foto, estado, vehiculo) {
      let ip_backend_conf = "<%=  ip_backend %>";
      $.ajax({
        url: "http://" + ip_backend_conf + "/estado_foto/njnfjdnjd/" + foto + "?externa=" + estado,
        type: "PUT",
        success: function (json) {
          window.location.reload();
        }
      });

    }
  </script>

  </html>