<head>
    <title>Ingreso de fotos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="./stylesheets/estilos.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
</head>

<body>


    <% include statics/menu_home %>
    <% if (locals.messages) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert" auto-close="3000">
        <strong>Aviso!</strong> <%= messages.msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mt-3">
                <h4>Sube las fotos de vehiculo</h4>

                <form action="/subir_archivos" method="POST" enctype="multipart/form-data">
                    <input class="text" type="hidden" name="id" id="id1" placeholder="id" required="">
                    <div class="form-group">
                        <label for="example-input-file"> </label>
                        <input type="file" name="multi-files" multiple id="input-multi-files"
                            class="form-control-file border" />
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <div class="preview-images"></div>
            </div>
        </div>
    </div>

    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <!-- //main -->
</body>
<% include statics/script %>
<script type="text/javascript">
    var dato_placa = "<%= placa %>";
    let ip_backend = "<%=  ip_backend %>";
    $.ajax({
        url: "http://35.202.112.35/oauth/token",
        type: "post",
        data: JSON.stringify({ grant_type: "client_credentials",client_id: "98498xc6516zxcv", client_secret: "azxh_$84cv", audience: "aseguradora" }),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (json) {
            let token = json['token']
            console.log(token);
            $.ajax({
                url: "http://" + ip_backend + "/Vehiculo?jwt=" + token + "&placa=" + dato_placa,
                type: "get",
                success: function (json) {
                    let id = json['response'][0]['id']
                    console.log(id);
                    var inputF = document.getElementById("id1");
                    inputF.value = id;
                }
            });
        }
    });
</script>
<script>
    $(document).ready(function () {
        let imagesPreview = function (input, placeToInsertImagePreview) {
            if (input.files) {
                let filesAmount = input.files.length;
                for (i = 0; i < filesAmount; i++) {
                    let reader = new FileReader();
                    reader.onload = function (event) {
                        $($.parseHTML("<img>"))
                            .attr("src", event.target.result)
                            .attr("width", "300")
                            .attr("height", "300")
                            .appendTo(placeToInsertImagePreview);
                    };
                    reader.readAsDataURL(input.files[i]);
                }
            }
        };
        $("#input-multi-files").on("change", function () {
            imagesPreview(this, "div.preview-images");
        });
    });
</script>

</html>