<!DOCTYPE html>
<html>

<head>
  <title>Principal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script
    type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!-- Custom Theme files -->
  <link href="./stylesheets/estilos.css" rel="stylesheet" type="text/css" media="all" />
  <!-- //Custom Theme files -->
  <!-- web font -->
  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  <!-- //web font -->
</head>

<body>
  <% include statics/menu_home %>
  <% if (locals.messages) { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert" auto-close="3000">
    <strong>Aviso!</strong> <%= messages.msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>
  <br>
  <div class="table-responsive">
    <table class="table table-striped w-auto">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="th-sm">#</th>
          <th scope="col" class="th-sm">Estado</th>
          <th scope="col" class="th-sm">Tipo</th>
          <th scope="col" class="th-sm">Marca</th>
          <th scope="col" class="th-sm">Linea</th>

          <th scope="col" class="th-sm">Modelo</th>
          <th scope="col" class="th-sm"> Color</th>
          <th scope="col" class="th-sm">Numero de chasis</th>
          <th scope="col" class="th-sm">Numero de Motor</th>
          <th scope="col" class="th-sm">Precio Base</th>
          <th scope="col" class="th-sm">Precio Minimo</th>
          <th scope="col" class="th-sm">Arranca</th>
          <th scope="col" class="th-sm">Camina</th>
          <th scope="col" class="th-sm">Falla Mecanica</th>
          <th scope="col" class="th-sm">Garantia de Inspeccion</th>
          <th scope="col" class="th-sm">Inundado</th>
          <th scope="col" class="th-sm">Colisiones</th>
          <th scope="col" class="th-sm"> Fecha de ingreso</th>
          <th scope="col" class="th-sm">Observaciones</th>
          <th scope="col" class="th-sm">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <%for (var i=0;i<dato.length; i++){%>
        <tr class="table-light">
          <th scope="row"><%= i %></th>
          <% if (dato[i].estado == 1) { %>
          <td>En transito</td>
          <% }else if(dato[i].estado== 2) {%>
          <td>En almacenaje</td>
          <% }else if(dato[i].estado== 3) {%>
          <td>Subastable</td>
          <% }else if(dato[i].estado== 4) {%>
          <td>Adjudicado</td>
          <% }else if(dato[i].estado== 5) {%>
          <td>Vendido</td>
          <% } %>
          <td><%=dato[i].tipo%></td>

          <td><%=dato[i].marca%></td>
          <td><%=dato[i].linea%></td>

          <td><%=dato[i].modelo%></td>
          <td><%=dato[i].color%></td>
          <td><%=dato[i].numero_chasis%></td>
          <td><%=dato[i].numero_motor%></td>
          <td><%=dato[i].precio_base%></td>
          <td><%=dato[i].precio_minimo%></td>
          <td><%=dato[i].arranca==1?"Si":"No"%></td>
          <td><%=dato[i].camina==1?"Si":"No"%></td>
          <td><%=dato[i].falla_mecanica==1?"Si":"No"%></td>
          <td><%=dato[i].garantia_inspeccion==1?"Si":"No"%></td>
          <td><%=dato[i].inundado==1?"Si":"No"%></td>
          <td><%=dato[i].colision==1?"Si":"No"%></td>
          <td><%=dato[i].fecha_hora%></td>
          <td><%=dato[i].observacion%></td>
          <td>
            <% if (dato[i].estado == 1) { %>
            <a class="btn btn-primary" href="/estado/<%=dato[i].id%>/2" role="button">Cambiar a En almacenaje</a>
            <% }else if(dato[i].estado== 2) {%>
            <a class="btn btn-secondary" href="/estado/<%=dato[i].id%>/3" role="button">Cambiar a Subastable</a>
            <% }else if(dato[i].estado== 3) {%>
            <a class="btn btn-info" href="/estado/<%=dato[i].id%>/4" role="button">Cambiar a adjudicado</a>

            <% }else if(dato[i].estado== 4) {%>
            <a class="btn btn-warning" href="/estado/<%=dato[i].id%>/5" role="button">Cambiar a Vendido</a></td>

          <% }else if(dato[i].estado== 5) {%>
          <a class="btn btn-success" href="#" role="button">No hay Acciones</a>
          <% } %>
          <a class="btn btn-primary" href="/conf?id=<%= dato[i].id%>" role="button">Ver Fotos</a>
          <a class="btn btn-secondary" href="/ver_adjudicacion?id=<%= dato[i].id%>" role="button">Adjudicacion</a>
          </td>
        </tr>
        <%}%>
        </tbody>
      </table>
    </div>
    <!-- //copyright -->
    <ul class="colorlib-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <!-- //main -->
  </body>
  <% include statics/script %>

</html>