<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <% include statics/head %>
</head>

<body>
    <% include statics/menu %>
    <% if (locals.messages) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Hola </strong> <%= messages.msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>
    <div class="login-page">
        <div class="form">
            <form class="login-form" action="/logueo" method="post">
                <input type="text" name="username" placeholder="username" />
                <input type="password" name="password" placeholder="password" />
                <button>login</button>
                <p>Not registered? <a href="/signup">Create an account</a></p>
            </form>
        </div>
    </div>
</body>
<% include statics/script %>

</html>