<!DOCTYPE html>
<html>

<head>
    <title>Vehiculos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="./stylesheets/estilos.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
</head>

<body>
    <!-- main -->
    <% include statics/menu_home %>
    <% if (locals.messages) { %>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Aviso!</strong> <%= messages.msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <% } %>
    <div class="main-w3layouts wrapper">
        <h1> Ingreso de Vehiculos</h1>
        <div class="main-agileinfo">
            <div class="agileits-top">
                <form action="/vehiculo" method="post">
                    <input class="text" type="text" name="tipo" placeholder="Tipo" required="">
                    <input class="text " type="text" name="marca" placeholder="Marca" required="">
                    <input class="text" type="text" name="linea" placeholder="Linea" required="">
                    <input class="text " type="text" name="modelo" placeholder="Modelo" required="">
                    <input class="text" type="text" name="placa" placeholder="Placa" required="">
                    <input class="text " type="text" name="color" placeholder="Color" required="">
                    <input class="text" type="text" name="numero_chasis" placeholder="No. Chasis" required="">
                    <input class="text " type="text" name="numero_motor" placeholder="No. Motor" required="">
                    <input class="text" type="text" name="precio_base" placeholder="Precio Base" required="">
                    <input class="text " type="text" name="precio_minimo" placeholder="Precio Minimo" required="">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="arranca" name="arranca">
                        <label class="custom-control-label" for="arranca">Arranca</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="camina" name="camina">
                        <label class="custom-control-label" for="camina">Camina</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="falla" name="falla">
                        <label class="custom-control-label" for="falla">Falla Mecanica</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="garantia" name="garantia">
                        <label class="custom-control-label" for="garantia">Garantia Inspeccion</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="inundado" name="inundado">
                        <label class="custom-control-label" for="inundado">Inundado</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="colision" name="colision">
                        <label class="custom-control-label" for="colision">Colision</label>
                    </div>
                    <div class="form-group shadow-textarea">
                        <label class="text " type="text" for="observacion">Observaciones</label>
                        <textarea class="form-control z-depth-1" id="observacion" rows="3"
                            placeholder="Write something here..." name="observacion"></textarea>
                    </div>

                    <div class="wthree-text">
                        <div class="clear"> </div>
                    </div>
                    <input type="submit" value="Ingresar Vehiculo">
                </form>
            </div>
        </div>
        <!-- //copyright -->
        <ul class="colorlib-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- //main -->
</body>
<% include statics/script %>
<script>


    $("#arranca").on('change', function () {
        if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
        } else {
            $(this).attr('value', 'false');
        }
    });
    $("#camina").on('change', function () {
        if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
        } else {
            $(this).attr('value', 'false');
        }
    });
    $("#falla").on('change', function () {
        if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
        } else {
            $(this).attr('value', 'false');
        }
    });
    $("#garantia").on('change', function () {
        if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
        } else {
            $(this).attr('value', 'false');
        }
    });
    $("#inundado").on('change', function () {
        if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
        } else {
            $(this).attr('value', 'false');
        }
    });
    $("#colision").on('change', function () {
        if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
        } else {
            $(this).attr('value', 'false');
        }
    });

</script>

</html>