<head>
    <title>Adjudicacion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="./stylesheets/estilos.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
</head>

<body>


    <% include statics/menu_home %>
    <% if (locals.messages) { %>


    <div class="alert alert-success alert-dismissible fade show" role="alert" auto-close="3000">
        <strong>Aviso!</strong> <%= messages.msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>
    <div class="table-responsive">
        <table class="table table-striped w-auto">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="th-sm">#</th>
                    <th scope="col" class="th-sm">Id Afiliado</th>
                    <th scope="col" class="th-sm">Valor Adjudicacion</th>
                </tr>
            </thead>
            <tbody>
                <%for (var i=0;i<dato.length; i++){%>
                <tr class="table-light">
                    <th scope="row"><%= i %></th>
                   
                    <td><%=dato[i].id_afiliado%></td>
                    <td><%=dato[i].monto%></td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </div>
    <a class="btn btn-success" href="/home" role="button">Volver</a>
    <!-- //copyright -->
    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <!-- //main -->
</body>
<% include statics/script %>

                </html>